In [68]:
import pandas as pd
import pymc3 as pm
import numpy as np
import matplotlib.pyplot as plt

# Load Dataset

In [88]:
df = pd.read_csv('./heart-failure.csv', sep=',', index_col=False)
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

# Function

In [89]:
def df_train(number_register):
    df_train = df.copy()
    df_train = df_train.head(number_register)
    return df_train

def df_test(number_register):
    df_test = df.copy()
    df_test = df_test.tail(number_register)
    return df_test

# Clean Data

In [90]:
# Nulos en las columnas
df_null = df.isnull().sum()
df_null

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [91]:
# rename target variable
df = df.rename(columns={'DEATH_EVENT':'target'})

# Split train - test data

In [92]:
df_train = df_train(275)
#print(df_train)
df_train

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,44.0,0,582,1,30,1,263358.03,1.6,130,1,1,244,0
271,51.0,0,582,1,40,0,221000.00,0.9,134,0,0,244,0
272,67.0,0,213,0,38,0,215000.00,1.2,133,0,0,245,0
273,42.0,0,64,0,40,0,189000.00,0.7,140,1,0,245,0
274,60.0,1,257,1,30,0,150000.00,1.0,137,1,1,245,0

In [93]:
#df_test = df_test(25)
#df_test

# Creating Generative Bayesian model

In [94]:
# Split predictors variables(x) and target variable(y)

x_real = df_train.drop('target', axis=1)
y_real = df_train['target']

In [95]:
# verify matrix 
y_shape = y_real.shape
x_shape = x_real.shape

#x_shape

# Notas
- sd o sigma: desviacion estandar

In [108]:
with pm.Model() as generative_model:
    x = pm.Normal('x', mu=x_real.mean(), sd=1.0, shape=(275, 12))
    x_sintetico = pm.Normal('x_sintetico', mu=x, sd=1.0, shape=(275,12))
    
    y = pm.Normal('y', mu=y_real.mean(), sd=1.0, shape=(275))
    y_sintetico = pm.Normal('y_sintetico', mu=y, sd=1.0, shape=(275))

In [101]:
with generative_model:
    samplers = pm.sample(1000, tune=1000)

/home/stefy/anaconda3/lib/python3.8/site-packages/deprecat/classic.py:215: FutureWarning: In v4.0, pm.sample will return an `arviz.InferenceData` object instead of a `MultiTrace` by default. You can pass return_inferencedata=True or return_inferencedata=False to be safe and silence this warning.
  return wrapped_(*args_, **kwargs_)
Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Multiprocess sampling (4 chains in 4 jobs)
NUTS: [y_sintetico, y, x_sintetico, x]

Sampling 4 chains for 1_000 tune and 1_000 draw iterations (4_000 + 4_000 draws total) took 25 seconds.
The acceptance probability does not match the target. It is 0.7173003749623665, but should be close to 0.8. Try to increase the number of tuning steps.
The acceptance probability does not match the target. It is 0.7056572757819586, but should be close to 0.8. Try to increase the number of tuning steps.

In [102]:
x_sintetico_generado = samplers['x_sintetico']
y_sintetico_generado = samplers['y_sintetico']

In [103]:
x_sintetico_generado

array([[[ 6.14981655e+01,  1.06936352e+00,  5.64932158e+02, ...,
          3.76864245e+00,  3.80939665e+00,  1.20504764e+02],
        [ 6.09067493e+01,  2.15290877e+00,  5.68175442e+02, ...,
          2.10352405e+00, -2.42784148e+00,  1.18291714e+02],
        [ 6.02445254e+01, -2.20564686e-01,  5.68399579e+02, ...,
          2.23957226e-01, -3.95405740e-01,  1.20290324e+02],
        ...,
        [ 6.16185256e+01,  7.86573286e-01,  5.66192111e+02, ...,
         -1.23254340e+00, -9.34937060e-01,  1.19899179e+02],
        [ 6.45021760e+01,  2.13698515e+00,  5.70059213e+02, ...,
          2.62800039e+00,  5.47419906e-01,  1.18472747e+02],
        [ 6.19763499e+01,  1.33148588e+00,  5.67552621e+02, ...,
          8.07772126e-02,  4.91455291e-01,  1.20191131e+02]],

       [[ 5.94570945e+01, -8.25970643e-01,  5.66906991e+02, ...,
          9.70502165e-01, -1.35863740e+00,  1.19865003e+02],
        [ 6.12425324e+01, -1.87351470e-01,  5.67394377e+02, ...,
          2.46153512e+00,  2.72252068e-01,  1.19612082e+02],
        [ 5.90314717e+01,  1.14226707e+00,  5.66082510e+02, ...,
          8.36048180e-01,  1.03171026e+00,  1.21828800e+02],
        ...,
        [ 6.17309532e+01, -3.39730907e+00,  5.68582831e+02, ...,
          7.87671442e-01,  1.51408584e+00,  1.19954953e+02],
        [ 6.00541409e+01, -2.35071316e+00,  5.65229077e+02, ...,
         -3.73818441e-01, -5.86776024e-01,  1.20091001e+02],
        [ 6.12111465e+01,  2.13397154e-01,  5.65817241e+02, ...,
         -5.08454982e-01,  7.73687602e-01,  1.18226544e+02]],

       [[ 6.11593293e+01,  1.59492386e+00,  5.66147184e+02, ...,
          2.10017931e+00,  8.21614883e-01,  1.20973077e+02],
        [ 5.84669043e+01,  1.91553639e+00,  5.67136110e+02, ...,
          7.57313483e-01,  1.20772966e+00,  1.19127930e+02],
        [ 6.27810277e+01,  7.16010809e-01,  5.67773057e+02, ...,
          1.09845625e+00,  2.37093480e-01,  1.18635588e+02],
        ...,
        [ 6.09151225e+01,  1.72920691e+00,  5.65833005e+02, ...,
         -7.71926282e-02, -3.70184368e-01,  1.17703127e+02],
        [ 6.17794813e+01, -6.50659117e-01,  5.67496241e+02, ...,
          3.23713562e+00,  2.14820244e+00,  1.19284082e+02],
        [ 5.97023272e+01,  1.05931574e+00,  5.67090538e+02, ...,
          5.32592452e-01, -6.27275441e-02,  1.20378810e+02]],

       ...,

       [[ 6.17196450e+01, -1.86002981e-02,  5.68671550e+02, ...,
          2.16530758e+00,  2.07755824e+00,  1.19633441e+02],
        [ 6.03350442e+01,  3.17819676e-01,  5.64730298e+02, ...,
         -5.90342628e-04,  7.62927502e-01,  1.19112400e+02],
        [ 5.77611775e+01,  1.61809870e+00,  5.65849466e+02, ...,
         -9.08534998e-01, -9.25742034e-01,  1.17784601e+02],
        ...,
        [ 6.02750268e+01,  9.30845801e-01,  5.65725534e+02, ...,
          1.01251072e+00,  1.42062359e+00,  1.18557528e+02],
        [ 6.12184580e+01, -1.03459819e+00,  5.68025190e+02, ...,
          8.74145811e-02,  1.91991117e+00,  1.17626295e+02],
        [ 6.02296217e+01,  1.46769618e+00,  5.66810649e+02, ...,
          2.62028439e+00,  8.78989749e-01,  1.18496448e+02]],

       [[ 6.25577247e+01, -9.35110727e-02,  5.65225706e+02, ...,
         -1.73958513e-01, -1.06773512e+00,  1.16884472e+02],
        [ 5.99741053e+01, -9.07803623e-01,  5.68710738e+02, ...,
         -4.55926321e-01,  7.38373715e-02,  1.19685905e+02],
        [ 6.31399034e+01,  2.06836005e+00,  5.66095951e+02, ...,
          1.54933747e+00,  1.64512872e+00,  1.20160910e+02],
        ...,
        [ 6.44711348e+01, -1.23321281e+00,  5.66150333e+02, ...,
         -6.08043459e-01,  2.49880998e+00,  1.19572431e+02],
        [ 6.20214530e+01, -6.68456657e-02,  5.65705984e+02, ...,
          2.20612299e-01, -6.29711480e-01,  1.20183234e+02],
        [ 6.07114989e+01,  1.49725681e+00,  5.65161665e+02, ...,
         -3.53718126e-01, -1.22505927e+00,  1.20991852e+02]],

       [[ 6.22859143e+01,  1.91662786e+00,  5.67621502e+02, ...,
          2.78572765e+00,  9.25302394e-01,  1.21869641e+02],
        [ 6.13121663e+01,  3.50732170e+00,  5.67256683e+02, ...,
          1.79799735e+00,  1.73817017e-02,  1.21134382e+02],
        [ 6.26830136e+01,  1.10040320e-01,  5.66518564e+02, ...,
         -5.77409654e-01, -4.96685023e-01,  1.21142379e+02],
        ...,
        [ 6.08581380e+01,  2.65793780e-01,  5.68266441e+02, ...,
          2.80513426e+00,  1.09071493e+00,  1.19549259e+02],
        [ 6.02394055e+01,  1.46121179e+00,  5.69605143e+02, ...,
         -5.98237122e-01, -2.03616349e+00,  1.18960072e+02],
        [ 6.34494363e+01, -1.08031959e+00,  5.64781449e+02, ...,
          1.48974024e+00,  2.07877968e+00,  1.19091977e+02]]])

In [104]:
x_sintetico_generado = x_sintetico_generado.reshape(-1, x_sintetico_generado.shape[-1])
sintetico = pd.DataFrame(x_sintetico_generado, columns=['age','anaemia','creatinine_phosphokinase','diabetes','ejection_fraction','high_blood_pressure','platelets','serum_creatinine','serum_sodium','sex','smoking','time'])
sintetico

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,61.498166,1.069364,564.932158,1.570609,37.695363,1.547605,261120.890271,1.128949,137.194589,3.768642,3.809397,120.504764
1,60.906749,2.152909,568.175442,3.133641,36.561359,3.215022,261122.130988,0.328436,139.046945,2.103524,-2.427841,118.291714
2,60.244525,-0.220565,568.399579,0.501693,37.252744,-0.076214,261123.689105,1.585256,135.665389,0.223957,-0.395406,120.290324
3,58.925194,-0.039421,564.674496,0.646949,39.570928,2.862661,261121.154744,1.808066,137.255407,1.271579,-1.554904,119.317748
4,58.888526,-0.101393,567.417735,1.056221,37.229776,0.274308,261120.741468,-0.284489,135.360360,-0.081226,0.817079,119.753538
...,...,...,...,...,...,...,...,...,...,...,...,...
1099995,61.080945,1.717000,566.062842,-2.182913,38.247934,0.794536,261120.991880,1.978788,137.062971,0.945638,0.523586,119.155208
1099996,59.648416,0.846187,567.632397,1.427344,36.049323,1.596557,261122.410082,2.630710,137.044860,-2.611659,-0.425698,122.142637
1099997,60.858138,0.265794,568.266441,1.989097,35.913845,0.036895,261122.009038,0.176036,136.169358,2.805134,1.090715,119.549259
1099998,60.239405,1.461212,569.605143,1.006256,37.305898,-0.348422,261121.280056,0.375568,136.510623,-0.598237,-2.036163,118.960072
1099999,63.449436,-1.080320,564.781449,1.187729,39.422097,2.817033,261119.401976,0.479966,137.126328,1.489740,2.078780,119.091977

In [105]:
y_sintetico_generado

array([[ 0.04140244,  0.97678277,  1.08966528, ...,  0.32393579,
        -0.95027853,  2.7724573 ],
       [-0.63082137, -1.6759386 , -1.42997282, ...,  0.49932358,
         1.09202894,  1.15981966],
       [-0.37688669, -1.73261907,  3.83468872, ...,  0.76951639,
        -0.95522383,  1.34315317],
       ...,
       [ 1.49231617, -0.00399713,  1.10803142, ..., -0.69324051,
        -0.65016347,  0.89684097],
       [-0.30893356,  0.19957957, -2.03342297, ...,  0.69103948,
        -0.23053151, -0.38664374],
       [ 1.31135249,  1.36238451,  0.42872312, ...,  0.38341332,
         0.25698962, -0.06874735]])

In [112]:
#y_sintetico_generado = y_sintetico_generado.reshape(-1, y_sintetico_generado.shape[-1])
y_sintetico_generado = y_sintetico_generado.flatten()
sintetic = pd.DataFrame({'target': y_sintetico_generado})
sintetic

           target
0        0.041402
1        0.976783
2        1.089665
3       -0.658060
4        0.574391
...           ...
1099995  0.382164
1099996  2.197475
1099997  0.383413
1099998  0.256990
1099999 -0.068747

[1100000 rows x 1 columns]