In [1]:
import pandas as pd
import pymc3 as pm
import numpy as np
import matplotlib.pyplot as plt

# Load Dataset

In [2]:
df = pd.read_csv('./heart-failure.csv', sep=',', index_col=False)
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

# Function

In [3]:
def df_train(number_register):
    df_train = df.copy()
    df_train = df_train.head(number_register)
    return df_train

def df_test(number_register):
    df_test = df.copy()
    df_test = df_test.tail(number_register)
    return df_test

def min_value(column_name):
    min_value = df[column_name].min()
    print(f"El valor min {column_name} es {min_value}")
    return min_value

def max_value(column_name):
    max_value = df[column_name].max()
    print(f"El valor max {column_name} es {max_value}")
    return max_value

def data_gen_min_value(column_name):
    min_value = sintetico[column_name].min()
    print(f"El valor min {column_name} es {min_value}")
    return min_value

def data_gen_max_value(column_name):
    max_value = sintetico[column_name].max()
    print(f"El valor max {column_name} es {max_value}")
    return max_value

# Clean Data

In [4]:
# Nulos en las columnas
df_null = df.isnull().sum()
df_null

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [5]:
# int 
df[['age','platelets']] = df[['age','platelets']].astype(int)
#df

In [6]:
# rename target variable
df = df.rename(columns={'DEATH_EVENT':'target'})

In [7]:
# verifiying int in df
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
0,75,0,582,0,20,1,265000,1.9,130,1,0,4,1
1,55,0,7861,0,38,0,263358,1.1,136,1,0,6,1
2,65,0,146,0,20,0,162000,1.3,129,1,1,7,1
3,50,1,111,0,20,0,210000,1.9,137,1,0,7,1
4,65,1,160,1,20,0,327000,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62,0,61,1,38,1,155000,1.1,143,1,1,270,0
295,55,0,1820,0,38,0,270000,1.2,139,0,0,271,0
296,45,0,2060,1,60,0,742000,0.8,138,0,0,278,0
297,45,0,2413,0,38,0,140000,1.4,140,1,1,280,0
298,50,0,196,0,45,0,395000,1.6,136,1,1,285,0

In [8]:
df.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.829431,0.431438,581.839465,0.418060,38.083612,0.351171,263358.026756,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894997,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

# Analize data real

### Numeric columns

In [9]:
min_value_age = min_value('age')
max_value_age = max_value('age')

El valor min age es 40
El valor max age es 95

In [10]:
min_value_creatine = min_value('creatinine_phosphokinase')
max_value_creatine = max_value('creatinine_phosphokinase')

El valor min creatinine_phosphokinase es 23
El valor max creatinine_phosphokinase es 7861

In [11]:
min_value_ejection = min_value('ejection_fraction')
max_value_ejection = max_value('ejection_fraction')

El valor min ejection_fraction es 14
El valor max ejection_fraction es 80

In [12]:
min_value_platelets = min_value('platelets')
max_value_platelets = max_value('platelets')

El valor min platelets es 25100
El valor max platelets es 850000

In [13]:
min_value_creatinine = min_value('serum_creatinine')
max_value_creatinine = max_value('serum_creatinine')

El valor min serum_creatinine es 0.5
El valor max serum_creatinine es 9.4

In [14]:
min_value_sodium = min_value('serum_sodium')
max_value_sodium = max_value('serum_sodium')

El valor min serum_sodium es 113
El valor max serum_sodium es 148

In [15]:
min_value_time = min_value('time')
max_value_time = max_value('time')

El valor min time es 4
El valor max time es 285

### Binary columns

In [16]:
min_value_anemia = min_value('anaemia')
max_value_anemia = max_value('anaemia')

El valor min anaemia es 0
El valor max anaemia es 1

In [17]:
min_value_diabetes = min_value('diabetes')
max_value_diabetes = max_value('diabetes')

El valor min diabetes es 0
El valor max diabetes es 1

In [18]:
min_value_pressure = min_value('high_blood_pressure')
max_value_pressure = max_value('high_blood_pressure')

El valor min high_blood_pressure es 0
El valor max high_blood_pressure es 1

In [19]:
min_value_sex = min_value('sex')
max_value_sex = max_value('sex')

El valor min sex es 0
El valor max sex es 1

In [20]:
min_value_smoking = min_value('smoking')
max_value_smoking = max_value('smoking')

El valor min smoking es 0
El valor max smoking es 1

# Split train - test data

In [21]:
df_train = df_train(275)
#print(df_train)
df_train

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
0,75,0,582,0,20,1,265000,1.9,130,1,0,4,1
1,55,0,7861,0,38,0,263358,1.1,136,1,0,6,1
2,65,0,146,0,20,0,162000,1.3,129,1,1,7,1
3,50,1,111,0,20,0,210000,1.9,137,1,0,7,1
4,65,1,160,1,20,0,327000,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,44,0,582,1,30,1,263358,1.6,130,1,1,244,0
271,51,0,582,1,40,0,221000,0.9,134,0,0,244,0
272,67,0,213,0,38,0,215000,1.2,133,0,0,245,0
273,42,0,64,0,40,0,189000,0.7,140,1,0,245,0
274,60,1,257,1,30,0,150000,1.0,137,1,1,245,0

In [22]:
#df_test = df_test(25)
#df_test

# Creating Generative Bayesian model

In [23]:
# Split predictors variables(x) and target variable(y)

x_real = df_train.drop('target', axis=1)
y_real = df_train['target']

In [24]:
# verify matrix 
x_shape = x_real.shape
y_shape = y_real.shape

y_shape

(275,)

## Split data

In [25]:
#binary data

binary_data = x_real[['anaemia','diabetes','high_blood_pressure','sex','smoking']]

# array only values
binary_data_values = binary_data.values

In [26]:
#numeric data

numeric_data = x_real[['age','creatinine_phosphokinase','ejection_fraction','platelets','serum_creatinine','serum_sodium','time']]

# array only values
numeric_data_values = numeric_data.values
numeric_data_values

array([[7.500e+01, 5.820e+02, 2.000e+01, ..., 1.900e+00, 1.300e+02,
        4.000e+00],
       [5.500e+01, 7.861e+03, 3.800e+01, ..., 1.100e+00, 1.360e+02,
        6.000e+00],
       [6.500e+01, 1.460e+02, 2.000e+01, ..., 1.300e+00, 1.290e+02,
        7.000e+00],
       ...,
       [6.700e+01, 2.130e+02, 3.800e+01, ..., 1.200e+00, 1.330e+02,
        2.450e+02],
       [4.200e+01, 6.400e+01, 4.000e+01, ..., 7.000e-01, 1.400e+02,
        2.450e+02],
       [6.000e+01, 2.570e+02, 3.000e+01, ..., 1.000e+00, 1.370e+02,
        2.450e+02]])

In [27]:
# target variable
y_target = y_real
y_target = y_target.to_numpy()
y_target = y_target.reshape(-1,1)
y_target
#y_target = y_target[:, np.newaxis]

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]])

#### Normal model bayesian
with pm.Model() as generative_model:
    x = pm.Normal('x', mu=x_real.mean(), sd=1.0, shape=(275, 12))
    x_sintetico = pm.Normal('x_sintetico', mu=x, sd=1.0, shape=(275,12))
    
    y = pm.Normal('y', mu=y_real.mean(), sd=1.0, shape=(275))
    y_sintetico = pm.Normal('y_sintetico', mu=y, sd=1.0, shape=(275))

In [28]:
#binary_data_values
#numeric_data_values
#y_target

In [29]:
binary_data.shape

(275, 5)

In [30]:
numeric_data.shape

(275, 7)

In [31]:
y_target.shape

(275, 1)

In [32]:
def standardize(series):
    """Standardize a pandas series"""
    return (series - series.mean()) / series.std()

In [33]:
standardize_numeric = standardize(numeric_data_values)
standardize_numeric

array([[-0.38297346, -0.37777624, -0.38353726, ..., -0.38372281,
        -0.38240966, -0.38370128],
       [-0.38317848, -0.30315973, -0.38335275, ..., -0.38373101,
        -0.38234816, -0.38368078],
       [-0.38307597, -0.38224565, -0.38353726, ..., -0.38372896,
        -0.38241991, -0.38367053],
       ...,
       [-0.38305547, -0.38155883, -0.38335275, ..., -0.38372998,
        -0.38237891, -0.3812308 ],
       [-0.38331174, -0.38308622, -0.38333225, ..., -0.38373511,
        -0.38230715, -0.3812308 ],
       [-0.38312723, -0.38110779, -0.38343475, ..., -0.38373203,
        -0.38233791, -0.3812308 ]])

### Generative model

In [34]:
generative_model = pm.Model()
with generative_model:
    # prior for unknow model parameters
    x_binaria = pm.Bernoulli('x_binaria',p=0.5, shape= binary_data.shape)
    x_numeric = pm.HalfNormal('x_numeric',sd=0.5, shape=numeric_data.shape)
    # intercept = pm.Normal('intercept', mu=0, sd=1)

    #combined_features = pm.math.concatenate([x_binaria,x_numeric], axis=1)
    math_binary = binary_data_values * x_binaria
    math_numeric = standardize_numeric * x_numeric

    # Expected value of outcome
    #p_binary = pm.invlogit(intercept + math_binary)
    #p_numeric = pm.invlogit(intercept + math_numeric)
    p_binary = pm.invlogit(math_binary)
    p_numeric = pm.invlogit(math_numeric)

    p = pm.math.concatenate([p_binary, p_numeric], axis=1)
    
    # likelihood
    y_target = pm.Bernoulli('y_target',p=p, observed=y_target)


    #y_target = pm.Bernoulli('y_target', p=p, observed=y_target)

In [35]:
with generative_model:
        #trace = pm.sample(1000, tune=1000)
        trace = pm.sample_posterior_predictive(
        'trace',
        samples=100,
        var_names=["x_binaria","x_numeric","y_target"])

WARNING (theano.tensor.opt): Optimization Warning: The Op scalar_sigmoid does not provide a C implementation. As well as being potentially slow, this also disables loop fusion.

In [36]:
pm.summary(trace)

,mean,sd,hdi_3%,hdi_97%,mcse_mean,mcse_sd,ess_bulk,ess_tail,r_hat
x_binaria[0],0.498,0.500,0.0,1.000,0.003,0.002,28025.0,27400.0,1.0
x_binaria[1],0.502,0.500,0.0,1.000,0.003,0.002,28520.0,27400.0,1.0
x_binaria[2],0.499,0.500,0.0,1.000,0.003,0.002,27967.0,27400.0,1.0
x_binaria[3],0.498,0.500,0.0,1.000,0.003,0.002,28225.0,27400.0,1.0
x_binaria[4],0.496,0.500,0.0,1.000,0.003,0.002,27620.0,27400.0,1.0
x_numeric[0],0.397,0.301,0.0,0.933,0.002,0.001,27279.0,27954.0,1.0
x_numeric[1],0.401,0.302,0.0,0.947,0.002,0.001,28219.0,27426.0,1.0
x_numeric[2],0.400,0.302,0.0,0.946,0.002,0.001,26887.0,27244.0,1.0
x_numeric[3],0.400,0.301,0.0,0.936,0.002,0.001,27650.0,27304.0,1.0
x_numeric[4],0.400,0.302,0.0,0.946,0.002,0.001,27994.0,27895.0,1.0
x_numeric[5],0.395,0.300,0.0,0.934,0.002,0.001,27152.0,27283.0,1.0
x_numeric[6],0.398,0.301,0.0,0.947,0.002,0.001,27868.0,27904.0,1.0
y_target[0],0.553,0.497,0.0,1.000,0.003,0.002,27925.0,27400.0,1.0
y_target[1],0.550,0.498,0.0,1.000,0.003,0.002,27551.0,27400.0,1.0
y_target[2],0.543,0.498,0.0,1.000,0.003,0.002,27682.0,27400.0,1.0
y_target[3],0.570,0.495,0.0,1.000,0.003,0.002,27848.0,27400.0,1.0
y_target[4],0.534,0.499,0.0,1.000,0.003,0.002,27165.0,27165.0,1.0
y_target[5],0.458,0.498,0.0,1.000,0.003,0.002,28088.0,27400.0,1.0
y_target[6],0.466,0.499,0.0,1.000,0.003,0.002,27255.0,27255.0,1.0
y_target[7],0.469,0.499,0.0,1.000,0.003,0.002,27905.0,27400.0,1.0
y_target[8],0.690,0.462,0.0,1.000,0.003,0.002,28174.0,27400.0,1.0
y_target[9],0.458,0.498,0.0,1.000,0.003,0.002,27897.0,27400.0,1.0
y_target[10],0.460,0.498,0.0,1.000,0.003,0.002,28153.0,27400.0,1.0
y_target[11],0.467,0.499,0.0,1.000,0.003,0.002,27904.0,27400.0,1.0

# generating 

import arviz as az
with generative_model:
    trace = pm.sample(1000, tune=1000)
    prior = pm.sample_posterior_predictive(trace)
    posterior_predictive = pm.sample_posterior_predictive(trace, samples=1000)
    pm_data = az.from_pymc3(
        trace=trace,
        prior=prior,
        posterior_predictive=posterior_predictive)
        
pm_data

In [37]:
binary_generative = trace['x_binaria']
binary_generative.shape

(100, 275, 5)

In [38]:
numeric_generative = trace['x_numeric']
numeric_generative

array([[[1.15869691e-01, 2.32005240e-01, 3.92863244e-01, ...,
         9.77891847e-02, 4.18190441e-01, 6.68768685e-01],
        [3.92805916e-01, 5.60684425e-01, 1.76661056e-01, ...,
         1.88795487e-01, 8.01756599e-01, 2.00724342e-02],
        [9.27589885e-01, 1.12090576e-03, 1.68402151e-01, ...,
         1.48039377e-01, 1.58200481e+00, 2.56154384e-01],
        ...,
        [6.43627076e-02, 1.05993227e-01, 2.83681057e-01, ...,
         2.83466642e-02, 1.75953269e-01, 6.11193462e-01],
        [1.28508448e-01, 7.76054642e-02, 1.08523055e+00, ...,
         8.81475109e-01, 1.38721013e-01, 1.26059215e+00],
        [3.52827044e-01, 9.65126656e-01, 1.93117338e-01, ...,
         7.61187526e-01, 8.73468673e-01, 2.99700401e-01]],

       [[3.11640284e-01, 8.58388545e-01, 5.86064105e-01, ...,
         2.68288628e-01, 8.88240131e-01, 2.10873545e-01],
        [2.47513767e-01, 2.07137191e-01, 2.66777157e-01, ...,
         8.51735744e-01, 9.26182886e-01, 1.64009584e-01],
        [4.55253246e-01, 7.59663082e-02, 1.88891464e-01, ...,
         2.76912510e-02, 4.19925235e-02, 2.09024261e-01],
        ...,
        [3.32868472e-01, 5.56579858e-02, 1.64430604e-01, ...,
         6.42882678e-01, 4.85923216e-01, 1.36638054e+00],
        [1.79115749e-01, 5.29156349e-02, 2.66857206e-01, ...,
         8.23208900e-01, 1.34897727e-01, 5.45865165e-02],
        [4.43641669e-01, 2.33581409e-02, 5.85898063e-01, ...,
         4.02012327e-01, 2.60107257e-01, 1.75716909e-01]],

       [[4.56238661e-02, 3.10411312e-01, 3.54688119e-01, ...,
         2.40570522e-01, 2.54335530e-01, 3.03151245e-01],
        [6.43863720e-01, 8.40394478e-01, 3.70140763e-01, ...,
         5.91885734e-01, 1.69428748e-01, 3.96494642e-01],
        [1.14188353e-01, 2.10913282e-01, 6.62203734e-01, ...,
         2.50114071e-01, 2.81512063e-01, 3.75614464e-01],
        ...,
        [3.68461568e-01, 1.00565785e+00, 5.32087073e-01, ...,
         2.25224514e-01, 2.00057696e-01, 9.75323017e-02],
        [3.11673050e-01, 1.85319927e-02, 5.16890664e-01, ...,
         4.18757896e-01, 8.99036811e-02, 2.41483121e-02],
        [1.59212545e-01, 1.52659544e-01, 4.99970395e-01, ...,
         1.85256948e-01, 7.12230958e-01, 8.81934522e-02]],

       ...,

       [[5.95254220e-01, 2.34688268e-01, 1.29884564e-01, ...,
         4.78884187e-01, 5.92315591e-01, 3.50280120e-01],
        [5.57395934e-01, 1.29044115e-01, 8.98680668e-01, ...,
         9.99264186e-02, 4.09814117e-01, 1.67056599e-02],
        [4.36271111e-01, 6.28172518e-02, 1.63614019e-01, ...,
         1.16500282e-01, 1.06150080e+00, 4.45440011e-01],
        ...,
        [8.08710637e-01, 1.86495359e-01, 3.06301896e-01, ...,
         1.17214654e-01, 2.85041370e-01, 4.63799264e-01],
        [1.15740302e+00, 2.36341305e-01, 4.17000542e-01, ...,
         1.57866368e-01, 1.27105266e-01, 1.89358913e-01],
        [2.32129322e-01, 4.32953680e-01, 3.27521768e-01, ...,
         2.34956652e-01, 4.27553174e-01, 1.19569440e-01]],

       [[5.88348549e-01, 6.34609403e-01, 3.13501932e-01, ...,
         7.28299210e-02, 1.97013074e-01, 6.77072310e-01],
        [2.98490916e-03, 6.84934065e-02, 1.40721665e-01, ...,
         1.76007159e-01, 2.13184602e-01, 2.96239959e-01],
        [1.87345011e-01, 2.05532100e-01, 1.01323922e-02, ...,
         1.12916991e+00, 6.31522059e-01, 7.13199577e-01],
        ...,
        [2.18351438e-01, 6.92596238e-01, 5.41396380e-01, ...,
         1.30149229e-01, 1.15096538e+00, 5.40573939e-01],
        [1.52834457e-01, 2.25641183e-01, 9.60574890e-01, ...,
         2.79775395e-01, 2.10846286e-02, 5.85217042e-01],
        [2.18707127e-01, 3.29776472e-01, 1.91625938e-01, ...,
         9.06370445e-01, 1.68893771e-01, 6.83995661e-01]],

       [[8.96791181e-02, 2.31070369e-01, 3.51384935e-01, ...,
         3.06143368e-01, 4.95874825e-01, 1.46207365e-01],
        [5.47820477e-02, 1.63775081e-01, 1.78920477e-01, ...,
         2.81585450e-01, 3.92378758e-01, 1.32023070e-01],
        [9.16944236e-01, 1.99030389e-01, 2.21132022e-01, ...,
         3.79664434e-01, 1.68945635e-01, 1.06121204e+00],
        ...,
        [1.04000855e+00, 2.41347173e-01, 4.94108980e-01, ...,
         6.62300694e-01, 7.63164271e-02, 7.58320740e-01],
        [4.94730210e-03, 5.08315153e-01, 2.89902236e-01, ...,
         3.30545455e-02, 5.78855611e-01, 7.52290737e-01],
        [4.98367995e-02, 6.20357357e-02, 7.96438429e-01, ...,
         9.43790340e-02, 7.40925083e-01, 2.12354882e-01]]])

In [39]:
target_generative = trace['y_target']
target_generative.shape

(100, 275, 12)

In [40]:
binary_generative = binary_generative.reshape(-1, binary_generative.shape[-1])
binary_generative = pd.DataFrame(binary_generative, columns=['anaemia','diabetes','high_blood_pressure','sex','smoking'])
type(binary_generative)

binary_generative

       anaemia  diabetes  high_blood_pressure  sex  smoking
0            0         1                    0    0        0
1            1         0                    1    1        0
2            1         1                    0    1        1
3            0         0                    0    1        0
4            1         1                    1    0        0
...        ...       ...                  ...  ...      ...
27495        1         1                    0    1        0
27496        1         1                    1    1        1
27497        0         1                    1    0        0
27498        1         1                    0    1        1
27499        0         1                    0    0        1

[27500 rows x 5 columns]

In [41]:
len(binary_generative)

27500

In [42]:
binary_generative_null = binary_generative.isnull().sum()
binary_generative_null

anaemia                0
diabetes               0
high_blood_pressure    0
sex                    0
smoking                0
dtype: int64

In [43]:
numeric_generative = numeric_generative.reshape(-1, numeric_generative.shape[-1])
#numeric_generative_number = numeric_generative * 100
numeric_generative = pd.DataFrame(numeric_generative, columns=['age','creatinine_phosphokinase','ejection_fraction','platelets','serum_creatinine','serum_sodium','time'])
type(numeric_generative)
numeric_generative = numeric_generative * 100
numeric_generative[['age','platelets']] = numeric_generative[['age','platelets']].astype(int)
numeric_generative.head(27501)

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time
0,11,23.200524,39.286324,19,9.778918,41.819044,66.876869
1,39,56.068443,17.666106,49,18.879549,80.175660,2.007243
2,92,0.112091,16.840215,19,14.803938,158.200481,25.615438
3,65,15.014707,0.126603,26,24.408050,24.397477,16.171772
4,11,9.607024,30.965622,41,51.266072,53.834996,18.061773
...,...,...,...,...,...,...,...
27495,62,27.870739,46.770537,9,61.987415,28.449065,15.637157
27496,91,17.478517,16.086872,59,14.787530,56.277576,2.816963
27497,104,24.134717,49.410898,11,66.230069,7.631643,75.832074
27498,0,50.831515,28.990224,66,3.305455,57.885561,75.229074
27499,4,6.203574,79.643843,46,9.437903,74.092508,21.235488

In [44]:
len(numeric_generative)

27500

In [45]:
numeric_generative_null = numeric_generative.isnull().sum()
numeric_generative_null

age                         0
creatinine_phosphokinase    0
ejection_fraction           0
platelets                   0
serum_creatinine            0
serum_sodium                0
time                        0
dtype: int64

In [46]:
target_generative = target_generative.reshape(-1,1)
target_generative = pd.DataFrame(target_generative, columns=['target'])
type(target_generative)

target_generative

        target
0            0
1            1
2            0
3            1
4            1
...        ...
329995       1
329996       1
329997       0
329998       1
329999       1

[330000 rows x 1 columns]

In [47]:
len(target_generative)

330000

In [48]:
target_generative_null = target_generative.isnull().sum()
target_generative_null

target    0
dtype: int64

In [49]:
sintetico = pd.concat([numeric_generative, binary_generative, target_generative], axis=1)
sintetico = sintetico.head(27502)
sintetico

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,anaemia,diabetes,high_blood_pressure,sex,smoking,target
0,11.0,23.200524,39.286324,19.0,9.778918,41.819044,66.876869,0.0,1.0,0.0,0.0,0.0,0
1,39.0,56.068443,17.666106,49.0,18.879549,80.175660,2.007243,1.0,0.0,1.0,1.0,0.0,1
2,92.0,0.112091,16.840215,19.0,14.803938,158.200481,25.615438,1.0,1.0,0.0,1.0,1.0,0
3,65.0,15.014707,0.126603,26.0,24.408050,24.397477,16.171772,0.0,0.0,0.0,1.0,0.0,1
4,11.0,9.607024,30.965622,41.0,51.266072,53.834996,18.061773,1.0,1.0,1.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27497,104.0,24.134717,49.410898,11.0,66.230069,7.631643,75.832074,0.0,1.0,1.0,0.0,0.0,1
27498,0.0,50.831515,28.990224,66.0,3.305455,57.885561,75.229074,1.0,1.0,0.0,1.0,1.0,0
27499,4.0,6.203574,79.643843,46.0,9.437903,74.092508,21.235488,0.0,1.0,0.0,0.0,1.0,1
27500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
27501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [50]:
sintetico = sintetico.dropna()
sintetico

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,anaemia,diabetes,high_blood_pressure,sex,smoking,target
0,11.0,23.200524,39.286324,19.0,9.778918,41.819044,66.876869,0.0,1.0,0.0,0.0,0.0,0
1,39.0,56.068443,17.666106,49.0,18.879549,80.175660,2.007243,1.0,0.0,1.0,1.0,0.0,1
2,92.0,0.112091,16.840215,19.0,14.803938,158.200481,25.615438,1.0,1.0,0.0,1.0,1.0,0
3,65.0,15.014707,0.126603,26.0,24.408050,24.397477,16.171772,0.0,0.0,0.0,1.0,0.0,1
4,11.0,9.607024,30.965622,41.0,51.266072,53.834996,18.061773,1.0,1.0,1.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27495,62.0,27.870739,46.770537,9.0,61.987415,28.449065,15.637157,1.0,1.0,0.0,1.0,0.0,0
27496,91.0,17.478517,16.086872,59.0,14.787530,56.277576,2.816963,1.0,1.0,1.0,1.0,1.0,1
27497,104.0,24.134717,49.410898,11.0,66.230069,7.631643,75.832074,0.0,1.0,1.0,0.0,0.0,1
27498,0.0,50.831515,28.990224,66.0,3.305455,57.885561,75.229074,1.0,1.0,0.0,1.0,1.0,0
27499,4.0,6.203574,79.643843,46.0,9.437903,74.092508,21.235488,0.0,1.0,0.0,0.0,1.0,1

In [68]:
df.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.829431,0.431438,581.839465,0.418060,38.083612,0.351171,263358.026756,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894997,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [67]:
sintetico.describe()

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,anaemia,diabetes,high_blood_pressure,sex,smoking,target
count,27500.000000,27500.000000,27500.000000,27500.000000,27500.000000,27500.000000,27500.000000,27500.000000,27500.000000,27500.000000,27500.000000,27500.000000,27500.000000
mean,39.229600,39.644509,39.519964,39.520727,39.465818,38.991309,39.282473,0.498473,0.502036,0.499236,0.497636,0.496291,0.519527
std,30.052371,30.235773,30.203402,30.141400,30.225597,29.964394,30.141617,0.500007,0.500005,0.500009,0.500004,0.499995,0.499628
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.000000,16.000000,16.000000,16.000000,16.000000,15.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,57.000000,57.000000,57.000000,57.000000,57.000000,56.000000,57.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,229.000000,208.000000,211.000000,217.000000,229.000000,203.000000,201.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [54]:
sintetico = sintetico.astype(int)

# Analyze generic data

## predictor variables

### Numeric data

In [55]:
data_gen_min_value_age = data_gen_min_value('age')
data_gen_max_value_age = data_gen_max_value('age')

El valor min age es 0
El valor max age es 229

In [56]:
data_gen_min_value_creatine = data_gen_min_value('creatinine_phosphokinase')
data_gen_max_value_creatine = data_gen_max_value('creatinine_phosphokinase')

El valor min creatinine_phosphokinase es 0
El valor max creatinine_phosphokinase es 208

In [57]:
data_gen_min_value_ejection = data_gen_min_value('ejection_fraction')
data_gen_max_value_ejection = data_gen_max_value('ejection_fraction')

El valor min ejection_fraction es 0
El valor max ejection_fraction es 211

In [58]:
data_gen_min_value_platelets = data_gen_min_value('platelets')
data_gen_max_value_platelets = data_gen_max_value('platelets')

El valor min platelets es 0
El valor max platelets es 217

In [59]:
data_gen_min_value_creatine = data_gen_min_value('serum_creatinine')
data_gen_max_value_creatine = data_gen_max_value('serum_creatinine')

El valor min serum_creatinine es 0
El valor max serum_creatinine es 229

In [60]:
data_gen_min_value_sodium = data_gen_min_value('serum_sodium')
data_gen_max_value_sodium = data_gen_max_value('serum_sodium')

El valor min serum_sodium es 0
El valor max serum_sodium es 203

In [61]:
data_gen_min_value_time = data_gen_min_value('time')
data_gen_max_value_time = data_gen_max_value('time')

El valor min time es 0
El valor max time es 201

### Binary data

In [62]:
data_gen_min_value_anaemia = data_gen_min_value('anaemia')
data_gen_max_value_anaemia = data_gen_max_value('anaemia')

El valor min anaemia es 0
El valor max anaemia es 1

In [63]:
data_gen_min_value_diabetes = data_gen_min_value('diabetes')
data_gen_max_value_diabetes = data_gen_max_value('diabetes')

El valor min diabetes es 0
El valor max diabetes es 1

In [64]:
data_gen_min_value_pressure = data_gen_min_value('high_blood_pressure')
data_gen_max_value_pressure = data_gen_max_value('high_blood_pressure')

El valor min high_blood_pressure es 0
El valor max high_blood_pressure es 1

In [65]:
data_gen_min_value_sex = data_gen_min_value('sex')
data_gen_max_value_sex = data_gen_max_value('sex')

El valor min sex es 0
El valor max sex es 1

In [66]:
data_gen_min_value_smoking = data_gen_min_value('smoking')
data_gen_max_value_smoking = data_gen_max_value('smoking')

El valor min smoking es 0
El valor max smoking es 1

## Target variable

In [ ]:
y_sintetico_generado

In [ ]:
#y_sintetico_generado = y_sintetico_generado.reshape(-1, y_sintetico_generado.shape[-1])
y_sintetico_generado = y_sintetico_generado.flatten()
sintetic = pd.DataFrame({'target': y_sintetico_generado})
sintetic

# Otro modelo generativo

In [ ]:
# generating 
with generative_model:
    samplers = pm.sample(1000, tune=1000)