In [1]:
pip install --upgrade pymc3

Requirement already up-to-date: pymc3 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (3.11.5)
Requirement already satisfied, skipping upgrade: fastprogress>=0.2.0 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pymc3) (1.0.3)
Requirement already satisfied, skipping upgrade: patsy>=0.5.1 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pymc3) (0.5.1)
Requirement already satisfied, skipping upgrade: cachetools>=4.2.1 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pymc3) (5.3.1)
Requirement already satisfied, skipping upgrade: scipy<1.8.0,>=1.7.3 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pymc3) (1.7.3)
Requirement already satisfied, skipping upgrade: semver>=2.13.0 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pymc3) (3.0.1)
Requirement already satisfied, skipping upgrade: deprecat in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pymc3) (2.1.1)
Requirement already satisfied, skipping upgrade: dill in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pymc3) (0.3.1.1)
Requirement already satisfied, skipping upgrade: pandas>=0.24.0 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pymc3) (1.0.3)
Requirement already satisfied, skipping upgrade: theano-pymc==1.1.2 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pymc3) (1.1.2)
Requirement already satisfied, skipping upgrade: typing-extensions>=3.7.4 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pymc3) (3.7.4.1)
Requirement already satisfied, skipping upgrade: numpy<1.22.2,>=1.15.0 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pymc3) (1.18.1)
Requirement already satisfied, skipping upgrade: arviz>=0.11.0 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pymc3) (0.12.1)
Requirement already satisfied, skipping upgrade: six in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from patsy>=0.5.1->pymc3) (1.14.0)
Requirement already satisfied, skipping upgrade: wrapt<2,>=1.10 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from deprecat->pymc3) (1.11.2)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pandas>=0.24.0->pymc3) (2020.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from pandas>=0.24.0->pymc3) (2.8.1)
Requirement already satisfied, skipping upgrade: filelock in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from theano-pymc==1.1.2->pymc3) (3.0.12)
Requirement already satisfied, skipping upgrade: setuptools>=38.4 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from arviz>=0.11.0->pymc3) (46.4.0.post20200518)
Requirement already satisfied, skipping upgrade: matplotlib>=3.0 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from arviz>=0.11.0->pymc3) (3.1.3)
Requirement already satisfied, skipping upgrade: netcdf4 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from arviz>=0.11.0->pymc3) (1.6.4)
Requirement already satisfied, skipping upgrade: xarray-einstats>=0.2 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from arviz>=0.11.0->pymc3) (0.2.2)
Requirement already satisfied, skipping upgrade: packaging in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from arviz>=0.11.0->pymc3) (20.3)
Requirement already satisfied, skipping upgrade: xarray>=0.16.1 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from arviz>=0.11.0->pymc3) (0.20.2)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from matplotlib>=3.0->arviz>=0.11.0->pymc3) (0.10.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from matplotlib>=3.0->arviz>=0.11.0->pymc3) (1.2.0)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from matplotlib>=3.0->arviz>=0.11.0->pymc3) (2.4.7)
Requirement already satisfied, skipping upgrade: cftime in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from netcdf4->arviz>=0.11.0->pymc3) (1.6.2)
Requirement already satisfied, skipping upgrade: certifi in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from netcdf4->arviz>=0.11.0->pymc3) (2020.4.5.1)
Requirement already satisfied, skipping upgrade: importlib-metadata; python_version < "3.8" in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from xarray>=0.16.1->arviz>=0.11.0->pymc3) (1.5.0)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in /home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->xarray>=0.16.1->arviz>=0.11.0->pymc3) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import pymc3 as pm
import numpy as np
import matplotlib.pyplot as plt

# Load Dataset

In [3]:
df = pd.read_csv('./heart-failure.csv', sep=',', index_col=False)
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

# Function

In [4]:
def df_train(number_register):
    df_train = df.copy()
    df_train = df_train.head(number_register)
    return df_train

def df_test(number_register):
    df_test = df.copy()
    df_test = df_test.tail(number_register)
    return df_test

def min_value(column_name):
    min_value = df[column_name].min()
    print(f"El valor min {column_name} es {min_value}")
    return min_value

def max_value(column_name):
    max_value = df[column_name].max()
    print(f"El valor max {column_name} es {max_value}")
    return max_value

def data_gen_min_value(column_name):
    min_value = sintetico[column_name].min()
    print(f"El valor min {column_name} es {min_value}")
    return min_value

def data_gen_max_value(column_name):
    max_value = sintetico[column_name].max()
    print(f"El valor max {column_name} es {max_value}")
    return max_value

# Clean Data

In [5]:
# Nulos en las columnas
df_null = df.isnull().sum()
df_null

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [6]:
# int 
df[['age','platelets']] = df[['age','platelets']].astype(int)
#df

In [7]:
# rename target variable
df = df.rename(columns={'DEATH_EVENT':'target'})

In [8]:
# verifiying int in df
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
0,75,0,582,0,20,1,265000,1.9,130,1,0,4,1
1,55,0,7861,0,38,0,263358,1.1,136,1,0,6,1
2,65,0,146,0,20,0,162000,1.3,129,1,1,7,1
3,50,1,111,0,20,0,210000,1.9,137,1,0,7,1
4,65,1,160,1,20,0,327000,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62,0,61,1,38,1,155000,1.1,143,1,1,270,0
295,55,0,1820,0,38,0,270000,1.2,139,0,0,271,0
296,45,0,2060,1,60,0,742000,0.8,138,0,0,278,0
297,45,0,2413,0,38,0,140000,1.4,140,1,1,280,0
298,50,0,196,0,45,0,395000,1.6,136,1,1,285,0

# Analize data real

### Numeric columns

In [9]:
min_value_age = min_value('age')
max_value_age = max_value('age')

El valor min age es 40
El valor max age es 95

In [10]:
min_value_creatine = min_value('creatinine_phosphokinase')
max_value_creatine = max_value('creatinine_phosphokinase')

El valor min creatinine_phosphokinase es 23
El valor max creatinine_phosphokinase es 7861

In [11]:
min_value_ejection = min_value('ejection_fraction')
max_value_ejection = max_value('ejection_fraction')

El valor min ejection_fraction es 14
El valor max ejection_fraction es 80

In [12]:
min_value_platelets = min_value('platelets')
max_value_platelets = max_value('platelets')

El valor min platelets es 25100
El valor max platelets es 850000

In [13]:
min_value_creatinine = min_value('serum_creatinine')
max_value_creatinine = max_value('serum_creatinine')

El valor min serum_creatinine es 0.5
El valor max serum_creatinine es 9.4

In [14]:
min_value_sodium = min_value('serum_sodium')
max_value_sodium = max_value('serum_sodium')

El valor min serum_sodium es 113
El valor max serum_sodium es 148

In [15]:
min_value_time = min_value('time')
max_value_time = max_value('time')

El valor min time es 4
El valor max time es 285

### Binary columns

In [16]:
min_value_anemia = min_value('anaemia')
max_value_anemia = max_value('anaemia')

El valor min anaemia es 0
El valor max anaemia es 1

In [17]:
min_value_diabetes = min_value('diabetes')
max_value_diabetes = max_value('diabetes')

El valor min diabetes es 0
El valor max diabetes es 1

In [18]:
min_value_pressure = min_value('high_blood_pressure')
max_value_pressure = max_value('high_blood_pressure')

El valor min high_blood_pressure es 0
El valor max high_blood_pressure es 1

In [19]:
min_value_sex = min_value('sex')
max_value_sex = max_value('sex')

El valor min sex es 0
El valor max sex es 1

In [20]:
min_value_smoking = min_value('smoking')
max_value_smoking = max_value('smoking')

El valor min smoking es 0
El valor max smoking es 1

# Split train - test data

In [21]:
df_train = df_train(275)
#print(df_train)
df_train

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
0,75,0,582,0,20,1,265000,1.9,130,1,0,4,1
1,55,0,7861,0,38,0,263358,1.1,136,1,0,6,1
2,65,0,146,0,20,0,162000,1.3,129,1,1,7,1
3,50,1,111,0,20,0,210000,1.9,137,1,0,7,1
4,65,1,160,1,20,0,327000,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,44,0,582,1,30,1,263358,1.6,130,1,1,244,0
271,51,0,582,1,40,0,221000,0.9,134,0,0,244,0
272,67,0,213,0,38,0,215000,1.2,133,0,0,245,0
273,42,0,64,0,40,0,189000,0.7,140,1,0,245,0
274,60,1,257,1,30,0,150000,1.0,137,1,1,245,0

In [22]:
#df_test = df_test(25)
#df_test

# Creating Generative Bayesian model

In [23]:
# Split predictors variables(x) and target variable(y)

x_real = df_train.drop('target', axis=1)
y_real = df_train['target']

In [24]:
# verify matrix 
x_shape = x_real.shape
y_shape = y_real.shape

y_shape

(275,)

## Split data

In [25]:
#binary data

binary_data = x_real[['anaemia','diabetes','high_blood_pressure','sex','smoking']]

# array only values
binary_data_values = binary_data.values

In [26]:
#numeric data

numeric_data = x_real[['age','creatinine_phosphokinase','ejection_fraction','platelets','serum_creatinine','serum_sodium','time']]

# array only values
numeric_data_values = numeric_data.values
numeric_data_values

array([[7.500e+01, 5.820e+02, 2.000e+01, ..., 1.900e+00, 1.300e+02,
        4.000e+00],
       [5.500e+01, 7.861e+03, 3.800e+01, ..., 1.100e+00, 1.360e+02,
        6.000e+00],
       [6.500e+01, 1.460e+02, 2.000e+01, ..., 1.300e+00, 1.290e+02,
        7.000e+00],
       ...,
       [6.700e+01, 2.130e+02, 3.800e+01, ..., 1.200e+00, 1.330e+02,
        2.450e+02],
       [4.200e+01, 6.400e+01, 4.000e+01, ..., 7.000e-01, 1.400e+02,
        2.450e+02],
       [6.000e+01, 2.570e+02, 3.000e+01, ..., 1.000e+00, 1.370e+02,
        2.450e+02]])

In [27]:
# target variable
y_target = y_real
y_target = y_target[:, np.newaxis]
y_target
#y_target_values = y_target.values

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]])

#### Normal model bayesian
with pm.Model() as generative_model:
    x = pm.Normal('x', mu=x_real.mean(), sd=1.0, shape=(275, 12))
    x_sintetico = pm.Normal('x_sintetico', mu=x, sd=1.0, shape=(275,12))
    
    y = pm.Normal('y', mu=y_real.mean(), sd=1.0, shape=(275))
    y_sintetico = pm.Normal('y_sintetico', mu=y, sd=1.0, shape=(275))

In [28]:
binary_data_values
numeric_data_values
y_target

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]])

In [29]:
binary_data.shape

(275, 5)

In [30]:
numeric_data.shape

(275, 7)

In [31]:
y_target.shape

(275, 1)

In [32]:
generative_model = pm.Model()
with generative_model:
    # prior for unknow model parameters
    x_binaria = pm.Bernoulli('x_binaria',p=0.5, shape= binary_data.shape)
    x_numeric = pm.HalfNormal('x_numeric',sd=0.5, shape=numeric_data.shape)
    intercept = pm.Normal('intercept', mu=0, sd=1)

    #combined_features = pm.math.concatenate([x_binaria,x_numeric], axis=1)
    math_binary = binary_data_values * x_binaria
    math_numeric = numeric_data_values * x_numeric

    # Expected value of outcome
    p_binary = pm.invlogit(intercept + math_binary)
    p_numeric = pm.invlogit(intercept + math_numeric)

    p = pm.math.concatenate([p_binary, p_numeric], axis=1)
    
    y_target = pm.Bernoulli('y_target',p=p, observed=y_target)


    # likelihood
    #y_target = pm.Bernoulli('y_target', p=p, observed=y_target)

In [ ]:
with generative_model:
        trace = pm.sample(1000, tune=1000)

/home/stefy/anaconda3/envs/ml-env/lib/python3.7/site-packages/deprecat/classic.py:215: FutureWarning: In v4.0, pm.sample will return an `arviz.InferenceData` object instead of a `MultiTrace` by default. You can pass return_inferencedata=True or return_inferencedata=False to be safe and silence this warning.
  return wrapped_(*args_, **kwargs_)
Multiprocess sampling (4 chains in 4 jobs)
CompoundStep
>BinaryGibbsMetropolis: [x_binaria]
>NUTS: [intercept, x_numeric]

In [ ]:
pm.summary(trace)

In [ ]:
variables_en_trace = trace.varnames
variables_en_trace

# generating 

import arviz as az
with generative_model:
    trace = pm.sample(1000, tune=1000)
    prior = pm.sample_posterior_predictive(trace)
    posterior_predictive = pm.sample_posterior_predictive(trace, samples=1000)
    pm_data = az.from_pymc3(
        trace=trace,
        prior=prior,
        posterior_predictive=posterior_predictive)
        
pm_data

In [ ]:
binary_generative = trace['x_binaria']
binary_generative

In [ ]:
numeric_generative = trace['x_numeric']
numeric_generative

In [ ]:
target_generative = trace['y_target']
target_generative

In [ ]:
#x_sintetico_generado

In [ ]:
#x_sintetico_generado = x_sintetico_generado.reshape(-1, x_sintetico_generado.shape[-1])
#sintetico = pd.DataFrame(x_sintetico_generado, columns=['age','anaemia','creatinine_phosphokinase','diabetes','ejection_fraction','high_blood_pressure','platelets','serum_creatinine','serum_sodium','sex','smoking','time'])
#sintetico

In [ ]:
#binary_generative

In [ ]:
binary_generative = binary_generative.reshape(-1, binary_generative.shape[-1])
binary_generative = pd.DataFrame(binary_generative, columns=['anaemia','diabetes','high_blood_pressure','sex','smoking'])
type(binary_generative)

binary_generative

In [ ]:
len(binary_generative)

In [ ]:
binary_generative_null = binary_generative.isnull().sum()
binary_generative_null

In [ ]:
#numeric_generative = numeric_generative.reshape(-1, numeric_generative.shape[-1])
numeric_generative = numeric_generative.values
numeric_generative = numeric_generative.reshape()
#numeric_generative_number = numeric_generative * 100
numeric_generative = pd.DataFrame(numeric_generative, columns=['age','creatinine_phosphokinase','ejection_fraction','platelets','serum_creatinine','serum_sodium','time'])
type(numeric_generative)
numeric_generative = numeric_generative*100
numeric_generative.max()

In [ ]:
len(numeric_generative)

In [ ]:
numeric_generative_null = numeric_generative.isnull().sum()
numeric_generative_null

In [ ]:
target_generative = target_generative.reshape(-1, 1)
target_generative = pd.DataFrame(target_generative, columns=['target'])
type(target_generative)

target_generative

In [ ]:
len(target_generative)

In [ ]:
target_generative_null = target_generative.isnull().sum()
target_generative_null

In [ ]:
sintetico = pd.concat([numeric_generative, binary_generative, target_generative], axis=1)
sintetico

# Analyze generic data

## predictor variables

### Numeric data

In [ ]:
data_gen_min_value_age = data_gen_min_value('age')
data_gen_max_value_age = data_gen_max_value('age')

In [ ]:
data_gen_min_value_creatine = data_gen_min_value('creatinine_phosphokinase')
data_gen_max_value_creatine = data_gen_max_value('creatinine_phosphokinase')

In [ ]:
data_gen_min_value_ejection = data_gen_min_value('ejection_fraction')
data_gen_max_value_ejection = data_gen_max_value('ejection_fraction')

In [ ]:
data_gen_min_value_platelets = data_gen_min_value('platelets')
data_gen_max_value_platelets = data_gen_max_value('platelets')

In [ ]:
data_gen_min_value_creatine = data_gen_min_value('serum_creatinine')
data_gen_max_value_creatine = data_gen_max_value('serum_creatinine')

In [ ]:
data_gen_min_value_sodium = data_gen_min_value('serum_sodium')
data_gen_max_value_sodium = data_gen_max_value('serum_sodium')

In [ ]:
data_gen_min_value_time = data_gen_min_value('time')
data_gen_max_value_time = data_gen_max_value('time')

### Binary data

In [ ]:
data_gen_min_value_anaemia = data_gen_min_value('anaemia')
data_gen_max_value_anaemia = data_gen_max_value('anaemia')

In [ ]:
data_gen_min_value_diabetes = data_gen_min_value('diabetes')
data_gen_max_value_diabetes = data_gen_max_value('diabetes')

In [ ]:
data_gen_min_value_pressure = data_gen_min_value('high_blood_pressure')
data_gen_max_value_pressure = data_gen_max_value('high_blood_pressure')

In [ ]:
data_gen_min_value_sex = data_gen_min_value('sex')
data_gen_max_value_sex = data_gen_max_value('sex')

In [ ]:
data_gen_min_value_smoking = data_gen_min_value('smoking')
data_gen_max_value_smoking = data_gen_max_value('smoking')

## Target variable

In [ ]:
y_sintetico_generado

In [ ]:
#y_sintetico_generado = y_sintetico_generado.reshape(-1, y_sintetico_generado.shape[-1])
y_sintetico_generado = y_sintetico_generado.flatten()
sintetic = pd.DataFrame({'target': y_sintetico_generado})
sintetic

# Otro modelo generativo

In [ ]:
# generating 
with generative_model:
    samplers = pm.sample(1000, tune=1000)